*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.press{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    width: 20%;
    
}
.blok{
    display: flex;
}
.col-2-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
@media (max-width:320px)  {
    .label{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .form-control{
        width: 120%px;
        padding: 0;
    }
  
    .axis{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

 }
@media (max-width:481px)  {
    .label{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .form-control{
        width: 120%px;
        padding: 0;
    }
  
    .axis{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

 } 
